@import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap");

html {
  background-color: #282a36 ;
  color: #fff ;
  
  font-family: "Poppins", sans-serif ;
}

body {
  background-color: #282a36 ;
  color: #fff ;
  font-size: 20px ;
  font-family: "Poppins", sans-serif ;
}
a {
  color: #6272a4 ;
}
a:hover {
  text-decoration: none ;
  color: #4372ff ;
}

